<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/about/">About</a></li>
  <li><a href="{{ root_url }}/license/">License</a></li>  
</ul>
<ul class="subscription">
    <li><a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author">
      <img src="/images/asides/googleplus.png" width="24" height="24" alt="Rob on Google+">
    </a></li>    
    <li><a rel="me" href="http://twitter.com/{{ site.twitter_user }}">
      <img src="/images/asides/twitter.png" width="24" height="24" alt="Rob on Twitter" />
    </a></li>
    <li><a rel="me" href="http://stackoverflow.com/users/1077279/shamp00">
      <img src="/images/asides/stackoverflow.png" width="24" height="24" alt="Rob on StackOverflow" />
    </a></li>
    <li><a rel="me" href="https://github.com/{{ site.github_user }}">
      <img src="/images/asides/github.png" width="24" height="24" alt="Rob on GitHub" />
    </a></li>
    <li><a rel="me" href="http://www.linkedin.com/profile/view?id={{ site.linkedin_user }}" {% if site.linkedin_hidden %} class ="googleplus-hidden" {% endif %}>
      <img src="/images/asides/linkedin.png" width="24" height="24" alt="Rob on LinkedIn" />
    </a></li>
    <li><a rel="me" href="http://springpad.com/#!/{{ site.springpad_user }}" {% if site.springpad_hidden %} class ="googleplus-hidden" {% endif %}>
      <img src="/images/asides/springpad.png" width="24" height="24" alt="Rob on SpringPad" />
    </a></li>    
    <li><a rel="me" href="http://pinterest.com/{{ site.pinterest_user }}" {% if site.pinterest_hidden %} class ="googleplus-hidden" {% endif %}>
      <img src="/images/asides/pinterest.png" width="24" height="24" alt="Rob on Pinterest" />
    </a></li>
    <li><a rel="me" href="http://www.last.fm/user/{{ site.lastfm_user }}" {% if site.lastfm_hidden %} class ="googleplus-hidden" {% endif %}>
      <img src="/images/asides/lastfm.png" width="24" height="24" alt="Rob on Last.fm" />
    </a></li>
    <li><a href="{{ site.subscribe_rss }}">
      <img src="/images/asides/rss.png" rel="subscribe-rss" width="24" height="24" alt="RSS Feed" />
    </a></li>
</ul>